h1 {
  color: green;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  padding: 2%;
}
.searching {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.btn {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.card {
  text-align: center;
  margin: 0 auto;
}
h2 {
  color: green;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  padding: 2%;
}
